
.search-hero {
  background: url('https://images.pexels.com/photos/3225531/pexels-photo-3225531.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
  color: white;
  padding: 8rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-content h1 {
  font-size: 2.5rem;
  max-width: 800px;
  margin-bottom: 2rem;
}

.search-input-wrapper {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.search-input-wrapper input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 0.8rem 1rem;
  font-size: 1rem;
}

.search-input-wrapper button {
  background-color: #05a081;
  color: white;
  border: none;
  padding: 0 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}
